@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --font-raleway: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --sans-pro: "Source Sans Pro", sans-serif;
  --c-text: #1d1f22;
  --c-primary: rgb(240, 97, 97);
  --c-white: #ffffff;
  --c-gray: #8d8f9a;
  --product-card-box-shadow: 0px 40px 35px rgba(168, 172, 176, 0.19);
  --c-scrollbar-track: #f1f1f1;
  --c-scrollbar-handle: #8888882e;
  --c-scrollbar-handle-hover: #555555;
}
/* RESET */
/********************************/
* {
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
image {
  display: block;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

/* GENERAL STYLING */
/********************************/
/* Font */
.single-product-titles .brand,
.single-product-titles .name,
.single-product-price p,
.single-product-pricing .product-price,
.cartoverlay h4,
.cartoverlay-products h4,
.cartoverlay-products .empty-cart,
.cartoverlay-item-pricing .product-price,
.cartoverlay .payment button,
.cart-overlay-item-attr h3,
.cart h2,
.cart-products-single .cart-data h2,
.cart-item-pricing .product-price,
.cart-product-interaction p,
.cart-totals .cart-totals-sum,
.cart-totals p,
.order-btn {
  font-family: var(--font-raleway);
}
.cart-attr .selected-attr-box,
.cart-attr .unselected-attr-box,
.cart-overlay-item-attr .selected-attr-box,
.cart-overlay-item-attr .unselected-attr-box,
.single-product .attribute .attribute-button,
.quick-attribute .attribute-button {
  font-family: var(--sans-pro);
}

header,
header ul,
.dropdown-section,
.landing-page,
.initial-currency,
.currency-switcher,
.product,
.titles-block,
.cart-quantity,
.product-card,
.quick-addto-cart,
.quick-attribute,
.quick-addtocart .active-add-to-cart,
.quick-addtocart .inactive-add-to-cart,
.quick-attribute .attribute-button,
.quick-attribute .buttons,
.active-add-to-cart,
.inactive-add-to-cart,
.product-showcase,
.mini-pictures,
.single-product .data,
.single-product-price,
.single-product .attribute,
.single-product .attribute .buttons,
.pricing-section,
.single-product .attribute .buttons,
.single-product .attribute .attribute-button,
.single-product .description,
.cartoverlay,
.cartoverlay-products,
.cartoverlay-grid,
.cartoverlay-product,
.cartoverlay-product-details,
.cartoverlay-product-button,
.cartoverlay-products-single,
.cart-overlay-item-data,
.cart-overlay-item,
.cartoverlay .totals,
.cartoverlay .payment,
.cart-overlay-item-attr,
.cart-overlay-item-attr .selected-attr-box,
.cart-overlay-item-attr .unselected-attr-box,
.cart-overlay-item-attr .selected-color-box-section,
.cart-overlay-item-attr .buttons,
.cartoverlay-product-interaction,
.cart-overlay-item,
.cart-overlay-item-data,
.cart-overlay-buttons,
.bag-count,
.cartoverlay .totals,
.bag-and-checkout-buttons,
.cart,
.cart-products-single,
.cart-products-single .cart-data,
.cart-attr,
.cart-attr .selected-attr-box,
.cart-attr .unselected-attr-box,
.cart-attr .selected-color-box-section,
.cart-attr .buttons,
.cart-content,
.cart-product-interaction,
.cart-product-button,
.cart-totals,
.cart-totals section {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.home-link {
  color: var(--c-text);
  text-decoration: none;
}

.landing-page h3 {
  text-align: center;
  color: var(--c-text);
  font-family: var(--font-raleway);
  text-transform: capitalize;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.single-product-hero {
  min-height: 25rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerOne {
  font-family: var(--font-raleway);
  font-weight: 400;
  text-decoration: none;
  color: var(--c-text);
  font-size: 0.8rem;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  top: 0;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  align-items: center;
  margin: 0 auto;
  z-index: 998;
  position: relative;
}

header ul {
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
  text-transform: uppercase;
  align-items: center;
  font-family: var(--font-raleway);
  font-weight: 400;
  font-size: 0.8rem;
  justify-content: center;
}
header ul a {
  text-decoration: none;
}
.active-category-link {
  position: relative;
}
.active-category-link li {
  color: rgb(240, 97, 97);
}
.inactive-category-link li {
  color: var(--c-text);
}
.active-category-link::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  background-color: rgb(240, 97, 97);
  width: max-content;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translate(-40%, 100%);
  left: 40%;
  right: 0;
  bottom: -50%;
}

.dropdown-section {
  flex-direction: row;
  align-items: center;
}

.titles-block {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.313rem;
}
.titles-block h4 {
  font-family: var(--font-raleway);
  color: var(--c-text);
  font-weight: 300;
  font-size: 1rem;
}

/* ADD TO CART BUTTON */
.active-add-to-cart {
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 3.25rem;
  color: var(--c-white);
  border: none;
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--c-primary);
}
.inactive-add-to-cart {
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 3.25rem;
  color: gray;
  border: none;
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 1rem;
  cursor: not-allowed;
  opacity: 0.8;
}

/* FORCE CHANGING SLIDER LIB*/
.cart-content div div button {
  margin-top: 4rem !important;
  background-color: rgba(0, 0, 0, 0.73) !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.cart-content div div:first-of-type button {
  margin-left: 5rem !important;
}
.cart-content div div:last-of-type button {
  margin-right: -1rem !important;
}

/* Success Alert Main */
.success-alert {
  display: none;
}
.success-alert.visible {
  display: inline-block;
  position: fixed;
  top: 10%;
  right: 5%;
  background-color: rgba(219, 219, 219, 0.22);
  backdrop-filter: blur(5px);
  padding: 0.7rem;
  border-radius: 10px;
}
.success-alert.visible p {
  font-family: var(--font-raleway);
  font-size: 1rem;
  color: var(--c-text);
  font-weight: 500;
}
