.checkout {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    padding: 2rem;
    gap: 4rem;
}

.checkout ul,
.checkout ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.checkout form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
